/* .flo-left{
    float: left;
} */

.btn-marco{
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 0px;
    border: 1px solid black;
    padding: 0px;
}

.btn-map{
    width: 40px;
    height: 40px;    
    float: left;
    border-radius: 0px;
    border: 1px solid black;
    padding: 0px;
}

.ml-50px{
    margin-left: 50px;
}